[Unit]
Description=4G LTE network interface %i
After=network.target 

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash /etc/simcom_wwan/wwan_preup.sh -i %i
ExecStart=/sbin/dhclient -1 %i
ExecStopPost=/bin/bash /etc/simcom_wwan/wwan_postdown.sh -i %i

[Install]
WantedBy=multi-user.target
